@import "tailwindcss";

@theme {
  --color-intel-blue: #0071C5;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, "JetBrains Mono", "Fira Code";
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  font-family: var(--font-sans);
}
